.world > *,
.world > *::before,
.world > *::after {
  user-select: none;
}

.world {
  /* background-color: red; */
  overflow: hidden;
  position: relative;
  min-height: 300px;
  /* width: 100%; */
}

.score {
  position: absolute;
  /* font-size: 3svmin; */
  right: 10px;
  top: 10px;
}

.start-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  max-width: unset;
  width: 1000px;
  bottom: 0;
  /* left: calc(var(--left) * 1%); */
  /* height: 15px; */
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 20px;
  height: 45px;
  width: 42px;
  bottom: calc(var(--bottom) * 1%);
  transition: bottom 0.1s ease-in-out;
}

.cactus {
  --left: 0;
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 45px;
  width: 20px;
  bottom: 0;
}
